# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\review-project\proxy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
